# House Price

Previsões de preços das casas

https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques

In [3]:
import pandas as pd
import numpy as np

In [4]:
tabela = pd.read_csv('train_tratado.csv')
tabela.head(3)

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500

In [5]:
test = pd.read_csv('test_tratado.csv')
test.head(3)

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,11622,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,120,0,0,6,2010,WD,Normal
1,1462,20,RL,14267,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,36,0,0,0,0,12500,6,2010,WD,Normal
2,1463,60,RL,13830,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,34,0,0,0,0,0,3,2010,WD,Normal

In [6]:
tabela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 75 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotArea        1460 non-null   int64
 4   Street         1460 non-null   object
 5   LotShape       1460 non-null   object
 6   LandContour    1460 non-null   object
 7   Utilities      1460 non-null   object
 8   LotConfig      1460 non-null   object
 9   LandSlope      1460 non-null   object
 10  Neighborhood   1460 non-null   object
 11  Condition1     1460 non-null   object
 12  Condition2     1460 non-null   object
 13  BldgType       1460 non-null   object
 14  HouseStyle     1460 non-null   object
 15  OverallQual    1460 non-null   int64
 16  OverallCond    1460 non-null   int64
 17  YearBuilt      1460 non-null   int64
 18  YearRemodAdd   1460 non-null   int64
 19  RoofStyle      1460 non-null   object
 20  RoofMatl       1460 non-null   object
 21  Exterior1st    1460 non-null   object
 22  Exterior2nd    1460 non-null   object
 23  MasVnrType     1460 non-null   object
 24  MasVnrArea     1460 non-null   float64
 25  ExterQual      1460 non-null   object
 26  ExterCond      1460 non-null   object
 27  Foundation     1460 non-null   object
 28  BsmtQual       1460 non-null   object
 29  BsmtCond       1460 non-null   object
 30  BsmtExposure   1460 non-null   object
 31  BsmtFinType1   1460 non-null   object
 32  BsmtFinSF1     1460 non-null   int64
 33  BsmtFinType2   1460 non-null   object
 34  BsmtFinSF2     1460 non-null   int64
 35  BsmtUnfSF      1460 non-null   int64
 36  TotalBsmtSF    1460 non-null   int64
 37  Heating        1460 non-null   object
 38  HeatingQC      1460 non-null   object
 39  CentralAir     1460 non-null   object
 40  Electrical     1460 non-null   object
 41  1stFlrSF       1460 non-null   int64
 42  2ndFlrSF       1460 non-null   int64
 43  LowQualFinSF   1460 non-null   int64
 44  GrLivArea      1460 non-null   int64
 45  BsmtFullBath   1460 non-null   int64
 46  BsmtHalfBath   1460 non-null   int64
 47  FullBath       1460 non-null   int64
 48  HalfBath       1460 non-null   int64
 49  BedroomAbvGr   1460 non-null   int64
 50  KitchenAbvGr   1460 non-null   int64
 51  KitchenQual    1460 non-null   object
 52  TotRmsAbvGrd   1460 non-null   int64
 53  Functional     1460 non-null   object
 54  Fireplaces     1460 non-null   int64
 55  GarageType     1460 non-null   object
 56  GarageYrBlt    1460 non-null   float64
 57  GarageFinish   1460 non-null   object
 58  GarageCars     1460 non-null   int64
 59  GarageArea     1460 non-null   int64
 60  GarageQual     1460 non-null   object
 61  GarageCond     1460 non-null   object
 62  PavedDrive     1460 non-null   object
 63  WoodDeckSF     1460 non-null   int64
 64  OpenPorchSF    1460 non-null   int64
 65  EnclosedPorch  1460 non-null   int64
 66  3SsnPorch      1460 non-null   int64
 67  ScreenPorch    1460 non-null   int64
 68  PoolArea       1460 non-null   int64
 69  MiscVal        1460 non-null   int64
 70  MoSold         1460 non-null   int64
 71  YrSold         1460 non-null   int64
 72  SaleType       1460 non-null   object
 73  SaleCondition  1460 non-null   object
 74  SalePrice      1460 non-null   int64
dtypes: float64(2), int64(35), object(38)
memory usage: 855.6+ KB

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 74 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   MSZoning       1459 non-null   object
 3   LotArea        1459 non-null   int64
 4   Street         1459 non-null   object
 5   LotShape       1459 non-null   object
 6   LandContour    1459 non-null   object
 7   Utilities      1459 non-null   object
 8   LotConfig      1459 non-null   object
 9   LandSlope      1459 non-null   object
 10  Neighborhood   1459 non-null   object
 11  Condition1     1459 non-null   object
 12  Condition2     1459 non-null   object
 13  BldgType       1459 non-null   object
 14  HouseStyle     1459 non-null   object
 15  OverallQual    1459 non-null   int64
 16  OverallCond    1459 non-null   int64
 17  YearBuilt      1459 non-null   int64
 18  YearRemodAdd   1459 non-null   int64
 19  RoofStyle      1459 non-null   object
 20  RoofMatl       1459 non-null   object
 21  Exterior1st    1459 non-null   object
 22  Exterior2nd    1459 non-null   object
 23  MasVnrType     1459 non-null   object
 24  MasVnrArea     1459 non-null   float64
 25  ExterQual      1459 non-null   object
 26  ExterCond      1459 non-null   object
 27  Foundation     1459 non-null   object
 28  BsmtQual       1459 non-null   object
 29  BsmtCond       1459 non-null   object
 30  BsmtExposure   1459 non-null   object
 31  BsmtFinType1   1459 non-null   object
 32  BsmtFinSF1     1459 non-null   float64
 33  BsmtFinType2   1459 non-null   object
 34  BsmtFinSF2     1459 non-null   float64
 35  BsmtUnfSF      1459 non-null   float64
 36  TotalBsmtSF    1459 non-null   float64
 37  Heating        1459 non-null   object
 38  HeatingQC      1459 non-null   object
 39  CentralAir     1459 non-null   object
 40  Electrical     1459 non-null   object
 41  1stFlrSF       1459 non-null   int64
 42  2ndFlrSF       1459 non-null   int64
 43  LowQualFinSF   1459 non-null   int64
 44  GrLivArea      1459 non-null   int64
 45  BsmtFullBath   1459 non-null   float64
 46  BsmtHalfBath   1459 non-null   float64
 47  FullBath       1459 non-null   int64
 48  HalfBath       1459 non-null   int64
 49  BedroomAbvGr   1459 non-null   int64
 50  KitchenAbvGr   1459 non-null   int64
 51  KitchenQual    1459 non-null   object
 52  TotRmsAbvGrd   1459 non-null   int64
 53  Functional     1459 non-null   object
 54  Fireplaces     1459 non-null   int64
 55  GarageType     1459 non-null   object
 56  GarageYrBlt    1459 non-null   float64
 57  GarageFinish   1459 non-null   object
 58  GarageCars     1459 non-null   float64
 59  GarageArea     1459 non-null   float64
 60  GarageQual     1459 non-null   object
 61  GarageCond     1459 non-null   object
 62  PavedDrive     1459 non-null   object
 63  WoodDeckSF     1459 non-null   int64
 64  OpenPorchSF    1459 non-null   int64
 65  EnclosedPorch  1459 non-null   int64
 66  3SsnPorch      1459 non-null   int64
 67  ScreenPorch    1459 non-null   int64
 68  PoolArea       1459 non-null   int64
 69  MiscVal        1459 non-null   int64
 70  MoSold         1459 non-null   int64
 71  YrSold         1459 non-null   int64
 72  SaleType       1459 non-null   object
 73  SaleCondition  1459 non-null   object
dtypes: float64(10), int64(26), object(38)
memory usage: 843.6+ KB

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [9]:
def regressao_linear(tabela, jobs=None):
    X = tabela.drop('SalePrice', axis=1)
    y = tabela['SalePrice']
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)
    
    reg = LinearRegression(n_jobs=jobs).fit(X_train, y_train)
    
    y_pred = reg.predict(X_test)
    
    print(mean_absolute_error(y_test, y_pred))
    print('-'*60)
    print(mean_squared_error(y_test, y_pred))
    print('-'*60)
    print(np.sqrt(mean_squared_error(y_test, y_pred)))
    print('-'*60)
    print(r2_score(y_test, y_pred))

def arvore_decisao(tabela, max_dep=None, criterio='squared_error'):
    X = tabela.drop('SalePrice', axis=1)
    y = tabela['SalePrice']
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)
    
    reg = DecisionTreeRegressor(max_depth=max_dep, criterion=criterio, random_state=42).fit(X_train, y_train)
    
    y_pred = reg.predict(X_test)
    
    print(mean_absolute_error(y_test, y_pred))
    print('-'*60)
    print(mean_squared_error(y_test, y_pred))
    print('-'*60)
    print(np.sqrt(mean_squared_error(y_test, y_pred)))
    print('-'*60)
    print(r2_score(y_test, y_pred))

def knn(tabela, viz=2):
    X = tabela.drop('SalePrice', axis=1)
    y = tabela['SalePrice']
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)
    
    reg = KNeighborsRegressor(n_neighbors=viz).fit(X_train, y_train)
    
    y_pred = reg.predict(X_test)
    
    print(mean_absolute_error(y_test, y_pred))
    print('-'*60)
    print(mean_squared_error(y_test, y_pred))
    print('-'*60)
    print(np.sqrt(mean_squared_error(y_test, y_pred)))
    print('-'*60)
    print(r2_score(y_test, y_pred))

def floresta_aleatoria(tabela, max_dep=None, criterio='squared_error'):
    X = tabela.drop('SalePrice', axis=1)
    y = tabela['SalePrice']
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)
    
    reg = RandomForestRegressor(max_depth=max_dep, criterion=criterio, random_state=42).fit(X_train, y_train)
    
    y_pred = reg.predict(X_test)
    
    print(mean_absolute_error(y_test, y_pred))
    print('-'*60)
    print(mean_squared_error(y_test, y_pred))
    print('-'*60)
    print(np.sqrt(mean_squared_error(y_test, y_pred)))
    print('-'*60)
    print(r2_score(y_test, y_pred))

## 1ª Fase

In [10]:
coluna = tabela.columns[tabela.dtypes == 'object']

In [11]:
tabela1 = tabela.drop(coluna, axis=1)

In [12]:
regressao_linear(tabela1)

22764.026236544265
------------------------------------------------------------
1197736462.2396288
------------------------------------------------------------
34608.329376605696
------------------------------------------------------------
0.82835764274993

In [13]:
arvore_decisao(tabela1, max_dep=8)

23999.69724795235
------------------------------------------------------------
1319529478.4415991
------------------------------------------------------------
36325.328332192665
------------------------------------------------------------
0.8109040199735035

In [14]:
knn(tabela1, viz=4)

29633.374429223742
------------------------------------------------------------
2246278180.7211757
------------------------------------------------------------
47394.917245641176
------------------------------------------------------------
0.678095729625334

In [15]:
floresta_aleatoria(tabela1)

17162.302146118724
------------------------------------------------------------
722937407.4513348
------------------------------------------------------------
26887.495373339163
------------------------------------------------------------
0.8963990120771863

In [16]:
teste1 = test.drop(coluna, axis=1)

In [17]:
X = tabela1.drop('SalePrice', axis=1)
y = tabela1['SalePrice']

In [18]:
reg_fa = RandomForestRegressor().fit(X, y)

In [19]:
y_pred = reg_fa.predict(teste1)
y_pred

array([128809.5 , 157180.45, 181833.4 , ..., 159247.5 , 109481.  ,
       232728.51])

In [20]:
id_test = test[['Id']]

In [21]:
previsoes = pd.DataFrame(y_pred, columns=['SalePrice'])
previsoes.head(3)

   SalePrice
0  128809.50
1  157180.45
2  181833.40

In [22]:
resultado1 = pd.concat([id_test, previsoes], axis=1)

In [23]:
resultado1.to_csv('resultado1.csv', index=False)

# 2ª Fase

In [35]:
lista_atrib = ['SalePrice', 'MSSubClass', 'OverallCond', 'LotArea', 'OverallQual', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF',
               '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'BsmtFullBath', 'BsmtHalfBath', 'HalfBath', 'BedroomAbvGr',
               'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'WoodDeckSF',
               'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold']

In [36]:
tabela2 = tabela[lista_atrib]

In [42]:
regressao_linear(tabela2)

23211.928209807145
------------------------------------------------------------
1270601058.6433706
------------------------------------------------------------
35645.49142098297
------------------------------------------------------------
0.8179157371378831

In [67]:
arvore_decisao(tabela2, max_dep=6)

26313.714565046474
------------------------------------------------------------
1470684459.81065
------------------------------------------------------------
38349.50403604524
------------------------------------------------------------
0.7892426627966826

In [80]:
knn(tabela2, viz=4)

33423.06107305936
------------------------------------------------------------
2763850153.986159
------------------------------------------------------------
52572.33259030989
------------------------------------------------------------
0.6039247610203904

In [92]:
floresta_aleatoria(tabela2)

19562.46202435312
------------------------------------------------------------
907263230.336275
------------------------------------------------------------
30120.81058564452
------------------------------------------------------------
0.869984087142138

## 3º Fase

In [101]:
list_atrib = ['SalePrice', 'MasVnrArea', 'KitchenAbvGr', 'EnclosedPorch', 'YrSold']

In [102]:
tabela3 = tabela[list_atrib]

In [110]:
regressao_linear(tabela3)

51674.70401286798
------------------------------------------------------------
5094734446.875385
------------------------------------------------------------
71377.40851891013
------------------------------------------------------------
0.2698959599262256

In [127]:
arvore_decisao(tabela3, max_dep=2)

52445.04317655197
------------------------------------------------------------
5184832420.090017
------------------------------------------------------------
72005.78046302962
------------------------------------------------------------
0.2569844146960705

In [151]:
knn(tabela3, viz=16)

53281.43436073059
------------------------------------------------------------
5490353807.178706
------------------------------------------------------------
74096.92171189506
------------------------------------------------------------
0.21320148520909787

In [160]:
floresta_aleatoria(tabela3, max_dep=5)

50440.989230379986
------------------------------------------------------------
5003541248.863165
------------------------------------------------------------
70735.71409735795
------------------------------------------------------------
0.282964457016747

## 4ª Fase

In [161]:
lista_atrib = ['SalePrice', 'OverallQual', '1stFlrSF', 'Fireplaces', 'YearBuilt', 'YearRemodAdd', 'TotalBsmtSF',
                'FullBath', 'GrLivArea', 'TotRmsAbvGrd', 'GarageYrBlt', 'GarageCars', 'GarageArea']

In [163]:
tabela4 = tabela[lista_atrib]

In [172]:
regressao_linear(tabela4)

24529.147341753396
------------------------------------------------------------
1357191632.3753881
------------------------------------------------------------
36840.08187253916
------------------------------------------------------------
0.8055068219386179

In [188]:
arvore_decisao(tabela4, max_dep=8, criterio='absolute_error')

23380.431506849316
------------------------------------------------------------
1151094086.3687215
------------------------------------------------------------
33927.77750411485
------------------------------------------------------------
0.8350417569892647

In [207]:
knn(tabela4, viz=5)

23550.503196347032
------------------------------------------------------------
1455848101.2562556
------------------------------------------------------------
38155.57759038979
------------------------------------------------------------
0.7913687962455398

In [227]:
floresta_aleatoria(tabela4, criterio='absolute_error')

18021.194041095892
------------------------------------------------------------
743470895.1815499
------------------------------------------------------------
27266.66270707785
------------------------------------------------------------
0.8934564480426997

In [230]:
list_atrib = ['OverallQual', '1stFlrSF', 'Fireplaces', 'YearBuilt', 'YearRemodAdd', 'TotalBsmtSF',
                'FullBath', 'GrLivArea', 'TotRmsAbvGrd', 'GarageYrBlt', 'GarageCars', 'GarageArea']

In [232]:
teste2 = test[list_atrib]

In [233]:
X = tabela4.drop('SalePrice', axis=1)
y = tabela4['SalePrice']

In [234]:
reg_fa = RandomForestRegressor(criterion='absolute_error').fit(X,y)

In [235]:
y_pred = reg_fa.predict(teste2)
y_pred

array([121664.  , 143231.  , 173245.25, ..., 152124.87, 107528.5 ,
       230734.9 ])

In [239]:
previsoes = pd.DataFrame(y_pred, columns=['SalePrice'])
previsoes

      SalePrice
0     121664.00
1     143231.00
2     173245.25
3     180491.00
4     203575.12
...         ...
1454   82350.93
1455   80999.00
1456  152124.87
1457  107528.50
1458  230734.90

[1459 rows x 1 columns]

In [240]:
resultado2 = pd.concat([id_test, previsoes], axis=1)
resultado2.head(2)

     Id  SalePrice
0  1461   121664.0
1  1462   143231.0

In [241]:
resultado2.to_csv('resultado2.csv', index=False)

## 5ª Fase

In [242]:
lista_atrib = ['SalePrice', 'OverallQual']

In [244]:
tabela5 = tabela[lista_atrib]

In [256]:
regressao_linear(tabela5)

32948.342899066316
------------------------------------------------------------
2483429086.6514373
------------------------------------------------------------
49834.01535749891
------------------------------------------------------------
0.644110673812851

In [281]:
arvore_decisao(tabela5, max_dep=6)

30038.625039949104
------------------------------------------------------------
2023089884.8350267
------------------------------------------------------------
44978.77149094923
------------------------------------------------------------
0.710079865054335

In [295]:
knn(tabela5, viz=6)

30774.026255707762
------------------------------------------------------------
2085445977.701484
------------------------------------------------------------
45666.68345414942
------------------------------------------------------------
0.7011438869774134

In [310]:
floresta_aleatoria(tabela5, max_dep=6)

30030.74225265283
------------------------------------------------------------
2021528360.548568
------------------------------------------------------------
44961.40968150985
------------------------------------------------------------
0.710303640248529